#header{
    display: flex;
    gap: 30%;
    margin: 40px;
    background-color: purple;
    color: white;
}
#logo{
    width: 50%;
}

.topnav{
    padding-top: 25px; 
    display: inline-flex; 
    gap: 50%; 
    white-space: nowrap; 
    text-decoration: none;
    
    
}
#body{
    background-color: rgb(247, 233, 248);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
    height: 100%;
}
.topnav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#input{
margin-left: 4%;
}

#annual{
    background-color: purple;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 30%;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 667px){
    .input{
        display: flex;
        flex-wrap: wrap;
    margin-left: 4%;
    } 

    #header{
        display: flex;
      flex-wrap: wrap;
    }
    #logo{
        width: 50%;
    }
    
    .topnav{
        padding-top: 25px; 
        display: inline-flex; 
flex-wrap: wrap;
        
        
    }
}
