#header{
    display: flex;
    gap: 30%;
    margin: 40px;
    background-color: aquamarine;

}

.topnav{
    padding-top: 25px; 
    display: inline-flex; 
    gap: 50%; 
    white-space: nowrap; 
    text-decoration: none;
    
    
}
.topnav a{
    text-decoration: none;
    color: black;
}
.item-1{
    display: flex;
    gap: 10%;
    font-size: large;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}
#mentor{
    border-radius: 80px;
}
#logo{
    width: 50%;
}
#knowmore-button{
    border-radius: 12px;
    background-color: rgb(140, 209, 209);
}
#mentors{
    font-size: large;
    font-weight: bold;
}
#body{
    background-color: rgb(241, 143, 239);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
    height: 100%;
}


@media screen and (min-width: 320px) and (max-width: 667px){
    #header{
        display: flex;
flex-wrap: wrap;
    }
    
    .topnav{
   
        display: inline-flex; 

        flex-wrap: wrap;
        
    }
    .topnav a{
        text-decoration: none;
        color: black;
    }
    .item-1{
        display: flex;
flex-wrap: wrap;
font-size: medium;
text-align: center;
    }
    #mentor{
        border-radius: 80px;
        width: 140px;
    }
    #logo{
        width: 50%;
    }
    #knowmore{
text-decoration: none;
    }
    #mentors{
        font-size: large;
        font-weight: bold;
        margin-top: 5%;
    }
    #body{
        background-color: rgb(241, 143, 239);
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 20px;
        height: 100%;
    }
}