.input{
    border: solid 1px; 
    padding: 12px ;
    margin: auto;
    border-radius: 12px;
    width: 60%;

}
#form{
    border: solid 1px;
    border-radius: 15px;
    padding :16px;
    background-color: rgb(247, 233, 248);
    margin: 0 auto;
    width: 40%;
    text-align: center;
}
#button{
    border: solid 1px; 
    border-radius: 12px;
    padding: 12px;
    margin: 0 auto;
    width: 40%;
    background-color: purple;
    color: white
    
}
#login-link{
    
text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 667px){
    .input{
        border: solid 1px; 
        padding: 12px ;
        border-radius: 12px;
        width:80%;
        height: 20px;
    
    } 
    
    #login-link{
    width: 30px;
        text-decoration: none;
        }
}
